<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rocketars - Create</title>
    <!-- other things that go in the head -->
    <%- include('partials/head.ejs') %>
    <!-- axios and bootstrap scripts  -->
    <%- include('partials/scripts.ejs') %>
    <!-- bootstrap and custom styles -->
    <%-include('partials/styles.ejs') %>
  </head>
  <body>
    <!-- navbar with page name + signin / signup buttons -->
    <%- include('partials/navbar.ejs') %>

    <!-- big container that holds item picker on left, and canvas on right -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 order-lg-2 mb-3 p-3" id="canvas-container"></div>
        <div class="col-12 col-lg-4 order-lg-1" id="picker-container"></div>
      </div>
    </div>

    <script src="../create.js"></script>
  </body>
</html>
