<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rocketars - Create</title>
    <!-- other things that go in the head -->
    <%- include('partials/head.ejs') %>
    <!-- axios and bootstrap scripts  -->
    <%- include('partials/scripts.ejs') %>
    <!-- bootstrap and custom styles -->
    <%-include('partials/styles.ejs') %>
  </head>
  <body>
    <!-- navbar with page name + signin / signup buttons -->
    <%- include('partials/navbar.ejs') %>

    <div class="col-12 p-3" id="profile-container"></div>

    <script src="../profile.js"></script>
  </body>
</html>
