body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

#canvas-container {
  border-style: solid;
  border-color: white;
  border-width: 0.2em;
}

.picker-section {
  border-style: solid;
  border-color: white;
  border-width: 0.2em;
}

.part-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 16px 12px;
}

.part {
  max-width: 10em;
  max-height: 10em;
  background-color: white;
}

.selected {
  border: 0.2em solid #d63e45;
}

.red {
  color: red;
}

.card {
  width: 320px;
}
