body {
  background-color: black;
  color: gainsboro;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
}

.btn {
  border-radius: 0;
  border-width: 0.1em;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-width: 0.1em;
}

#canvas-container {
  border-style: solid;
  border-color: white;
  border-width: 0.2em;
}

.picker-section {
  border-style: solid;
  border-color: white;
  border-width: 0.2em;
}

.part-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 16px 12px;
}

.part {
  max-width: 10em;
  max-height: 10em;
  background-color: white;
}

.selected {
  border: 0.2em solid #d63e45;
}
